<h1>Answer to your stupid question.</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<div class="card">
  <p><%= @question %></p>
  <p>- You</p>
</div>

<div class="card">
 <p><%= @answer %></p>
  <p>- Your coach</p>
</div>

<div class="btn-pink"><%= link_to "Go Back!" , questions_ask_path %></div>

