<h1>Ask your stupid coach a stupid question</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="btn-pink">
</form>
